@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

.content {
  display: flex;
  width: 100%;
}

textarea {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 900px;
  background-color: rgba(128, 128, 128, 0.2);
  color: white;
  text-align: justify;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  padding: 0.6rem 1.4rem;
  line-height: 1.5;
  overflow: auto;
  resize:none;
  
}

.inputValue{
  background-color:white;
}

.result , .value:focus {
  outline: none;
}

.result::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.3);
  width: 8px;
  border-radius:12px;
}

.result::-webkit-scrollbar-thumb {
  background-color: #5e548e;
  border-radius: 20px;
  -ms-overflow-style: none;
  scrollbar-color: #231942 #5e548e;
  scrollbar-width: thin;
}


.result {
  height: 50vh;
  max-height: 50vh;
  align-text: left;
  justify-content: center;
  border: 1px solid #5e548e;
  border-radius: 6px;
  font-size: 20px;
  -ms-overflow-style: none;
  transition: all 0.5s ease-in-out;
}



.value {
  align-text: left;
  margin-top:30px;
  border-radius:12px;
  height: 55px;
  weight:100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #5e548e;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  
}
.value::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  border-radius:12px;
}

.value::-webkit-scrollbar-thumb {
  background-color: transparent;
  -ms-overflow-style: none;
  
}



.inputButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-top: 25px;
}

.send {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 4px;
  position: relative;
  background-color: transparent;
  border: none;
  color: rgba(255,255,255,0.8);
  padding: 15px;
  width: 50px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  border: 1px solid #5e548e;
  border-radius: 8px;
  box-shadow: 0 0 1px 0 #fff, 0 0 3px 0 #5e548e, 0 0 5px 0 #7928ca;
}

.send:hover {

  box-shadow: 0px 2px 10px 5px rgb(26, 188, 156,0.6);
  color: rgba(255,255,255,0.8);
}

.send:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 2s
}

.send:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.send,.clear :focus { outline:0; }


.clear {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 4px;
  position: relative;
  background-color: transparent;
  border: none;
  color: rgba(255,255,255,0.8);
  padding: 15px;
  width: 50px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  border: 1px solid #5e548e;
  border-radius: 8px;
  box-shadow: 0 0 1px 0 #fff, 0 0 3px 0 #5e548e, 0 0 5px 0 #7928ca;
}

.clear:hover {
  color: rgba(255,255,255,0.8);
  box-shadow: 0px 2px 10px 5px rgb(220,20,60,0.7);
}

.clear:after {
  content: "";
  background: rgb(220,20,60,0.7);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 2s
}

.clear:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


