@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");


.navbar {
  background: transparent;
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin-top: 10px;
  color: rgb(245, 245, 245, 0.6);
  margin-bottom: 10px;
}

.navbar li {
  text-decoration: none;
  padding: 0 1.2rem;
  margin-top: 5px;
  border: none; 
}

.navbar ul li a {
  display: flex;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: rgb(245, 245, 245, 0.6);
  
}

.homebutton  {
  display: flex;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  
}

.navbar li a {
  color: rgb(245, 245, 245, 0.6);
  text-decoration: none;
}
.contato :hover ,
.sobre :hover,
.developers :hover,
.homebutton :hover {
  color: #fff;
}


.developers {
  width: 100%;
  height: 25px;
  padding-left: 15px;
}

.developers.active,
.chevronIcon.active {
  background: rgb(192, 192, 192, 0.020);;
  border: 0.5px solid rgb(192, 192, 192, 0.2);
  
  border-radius: 12px;
  
  
}

.chevronIcon {
  font-size: 12px;
  align-items: center;
  margin-top: 2px;
  display: flex;
}

.lista {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  width: 100%;
  height: 105px;
  background: rgb(192, 192, 192, 0.03);
  
  border-radius: 12px;
}

.lista li {
  padding-left: 25px;
}


